@import "reset.styl"
@import "variable.styl"
@import "icon.styl"


html,body{
  font-size: 10px
  background: $color-2
  color: $color-text
  font-family: "Chronicle Text G1 A","Chronicle Text G1 B",Lato,Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
}


div,ul,li,a{
  font-size: inherit
}

i{
  color: inherit
}

.button_icon
  display: flex
  align-items: center
  justify-content: center
  width: 4.5rem
  height: 4.5rem
  border-radius: 50%
  box-shadow: $box-shadow
  font-size: 2rem
  background: $color-1
  color: $color-grey
  cursor: pointer
  &:hover
    background: $color-3-o
    color: $color-black
    font-size: 2.1rem

.router-class
  position: relative
  z-index: 10
  >div
    background: $color-2
    margin-top: 4.5rem
    padding: 1.5rem 3rem 3rem 3rem
    box-shadow: $box-shadow-left

.router-enter-active
  transition: all 300ms
.router-enter
  transform: translateY(2rem)
  opacity: 0
.router-enter-to
  transform: translateY(0rem)
  opacity: 1
