@import "reset.styl"
@import "variable.styl"
@import "icon.styl"


html,body{
  font-size: 10px
  background: $color-2
  color: $color-text
  font-family: "Chronicle Text G1 A","Chronicle Text G1 B",Lato,Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
}


div,ul,li,a{
  font-size: inherit
}

i{
  color: inherit
}

.button_icon
  display: flex
  align-items: center
  justify-content: center
  margin-top: 1.5rem
  width: 4.5rem
  height: 4.5rem
  border-radius: 50%
  box-shadow: $box-shadow
  font-size: 2rem
  background: $color-1
  color: $color-grey
  cursor: pointer
  &:hover
    background: $color-3-o
    color: $color-black
    font-size: 2.1rem
