@import "reset.styl"
@import "variable.styl"
@import "icon.styl"


html,body{
  font-size: 10px
  background: $color-2
  color: $color-text
  // font-family: Georgia,serif
  font-family: Lato,Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
}


div,ul,li,a{
  font-size: inherit
}

i{
  color: inherit
}


::-webkit-scrollbar
  width: 8px
  height: 8px
  background-color: transparent

::-webkit-scrollbar-track
  border-radius: 8px
  background-color: transparent
  box-shadow: 0 0 1px $color-3 inset

::-webkit-scrollbar-thumb
  border-radius: 8px
  background-color: rgba(96,126,121,0.65)

::selection {
  background: $color-3;
  color: $color-1;
}


.button_icon
  display: flex
  align-items: center
  justify-content: center
  width: 4.5rem
  height: 4.5rem
  border-radius: 50%
  box-shadow: $box-shadow
  font-size: 2rem
  background: $color-1
  color: $color-grey
  cursor: pointer
  &:hover
    background: $color-3-o
    color: $color-black
    font-size: 2.1rem

.write_icon
  display: flex
  align-items: center
  justify-content: center
  width: 4.5rem
  height: 4.5rem
  border-radius: 50%
  box-shadow: $box-shadow
  color: $color-3
  background: $color-1
  font-size: 2rem
  i
    position: relative
    z-index: 11
    display: flex
    align-items: center
    justify-content: center
    width: 3.5rem
    height: 3.5rem
    border-radius: 50%
    cursor: pointer
    transition: all 400ms
    &:hover
      background: $color-3
      color: $color-1



.router-class
  position: relative
  z-index: 10
  >.router_icon
    position: absolute
    top: -4.5rem
    left: -2.2rem
    z-index: 11
    background: $color-3-o
    color: $color-black
    font-size: 2.1rem
    cursor: default
  >.router_div
    background: $color-2
    margin-top: 4.5rem
    padding: 1.5rem 0rem 3rem 3rem
    box-shadow: $box-shadow-left

  .router_icon-enter-active
    transition: all 400ms
  .router_icon-enter
    transform: scale(0.1)
    opacity: 0
  .router_icon-enter-to
    transform: scale(1)
    opacity: 1

  .router-enter-active
    transition: all 400ms
  .router-enter
    transform: translateY(2rem)
    opacity: 0
  .router-enter-to
    transform: translateY(0rem)
    opacity: 1
