@font-face {
  font-family: 'blog';
  src:  url('../fonts/blog.eot?tdloe9');
  src:  url('../fonts/blog.eot?tdloe9#iefix') format('embedded-opentype'),
    url('../fonts/blog.ttf?tdloe9') format('truetype'),
    url('../fonts/blog.woff?tdloe9') format('woff'),
    url('../fonts/blog.svg?tdloe9#blog') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'blog' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-about_me:before {
  content: "\e900";
}
.icon-archive:before {
  content: "\e901";
}
.icon-classify:before {
  content: "\e902";
}
.icon-date:before {
  content: "\e903";
}
.icon-diary:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-tag:before {
  content: "\e906";
}
.icon-update:before {
  content: "\e907";
}
.icon-menu:before{
  content: "\e908";
}
.icon-login:before{
  content: "\e909";
}
.icon-top:before{
  content: "\e90a";
}
.icon-github:before{
  content: "\e90b";
}
.icon-delete:before {
  content: "\e90c";
}
.icon-add:before {
  content: "\e90d";
}
.icon-commit:before {
  content: "\e90e";
}
.icon-write:before {
  content: "\e90f";
}
.icon-exchange:before {
  content: "\e910";
}
.icon-charge:before {
  content: "\e911";
}
.icon-save:before {
  content: "\e912";
}
